<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Heirs Workflow Cloud</title>
    <script src="https://kit.fontawesome.com/f3a98ab8b5.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'date-picker/jquery-ui.css' %}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>

<body>
    <div class="se-pre-con"></div>
    <div class="navbar">
        <div id="logo">
            <a href="/user/home">
                <h1> <span id='highlight'>Heirs</span> <br> Workflow Cloud</h1>
            </a>
        </div>
        <h3 id='welcome'>Welcome {{ request.user.first_name }}</h3>
        <div class='nav-links'>
            <ul>
                <li class="link"><a href="/tasks">My Tasks</a></li>
                <li class="link"><a href="/user/logout">Logout</a></li>
                <li class="link"><a href="/admin/password_change/">Edit Account</a></li>
                <li class="link"><a href="/myprojects">My Projects</a></li>
            </ul>
        </div>
    </div>
    <hr>
    {% block content %}
    {% endblock%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    {% load static %}
    <script src=" {% static 'hover3d/hover3d-master/dist/js/jquery.hover3d.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script>
        $(".hover3d").hover3d({
            selector: ".task",
            sensitivity: 10,
        });
        $(".hover3d-p").hover3d({
            selector: ".project_div",
            sensitivity: 10,
        });
    </script>


</body>

</html>