{% extends 'tasks/base.html' %}

{% block content %}

{% if projects %}


<div class='projects'>
    {% for project in projects %}
    {% if user_type == 'Admin' or user_type == 'Manager' %}
    <div class='hover3d-p' onclick="location.href='/projects/{{ project.id }}'">
        <div class='project_div'>
            <h1><a href="/projects/{{ project.id }}/">{{ project.name }}</a></h1>
        </div>
    </div>
    {% else %}
    <div class='hover3d-p' onclick="location.href='/projects/{{ project.id }}'">
        <div class='project_div'>
            <h1><a href="/projects/{{ project.id }}/">{{ project.name }}</a></h1>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>



{% if user_type == 'Admin' %}
<a class='margin-bottom center link-button' href="/newproject">Start a new project</a>
{% elif user_type == 'Manager' %}
<a class='margin-bottom center link-button' href="/newproject">Start a new project</a>
{% else %}
{% endif %}


{% else %}
<p>No active projects.</p>
{% endif %}

{% endblock %}