<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
        rel="stylesheet">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heirs Workflow Cloud</title>
</head>

<body>
    <div class="full-center">
        <h2 class='center'>Thank you for spending time on the platform. You have been successfully logged out.</h2>
        <a class='center link-button' href="/user/login">Log in again</a>
    </div>
</body>

</html>