/* 
    #ee3123 
    #55595c
*/

*{
    outline: none;
}

.navbar{
    display: flex;
    color:rgba(0, 0, 0, 0.8);
    align-items: center;
    height: 10vh;
    justify-content: space-between;
}


.nav-links{
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
}

#logo{
    font-size: xx-small;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-left: 2vw;
}

#welcome{
    font-size: small;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

div.nav-links>ul{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: small;
    color:rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.nav-links ul li{
    list-style: none;
    justify-self: space-around;
}

a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    transition: 250ms ease-in-out;
}

.project>h4>a:hover{
    color: #EE3123;
}

.task_progress>h3{
    font-size: x-large;
}

.task_div>h4>a:hover{
    color: #EE3123;
}

footer{
    margin-top: 10vh;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
}

*::selection {
    background: rgba(175, 175, 175, 0.835);
}

.card-div {
    min-height: 80vh;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5em;
    background-color: rgba(255, 255, 255, 0.15);
    min-width: 350px;
    width: 30vw;
    margin: 7.5vh auto 7.5vh 10vw;
    padding: 0 5vw;
    fill-opacity: 0.5;
    opacity: 1;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 35, 0.37 );
}

hr{
    margin: 0 1vw 5vh 1vw;
    color: #000000AA;
    border-radius: 1px;
    background: #00000000;
}

.header {
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: xx-large;
    line-height: 42px;
    text-align: flex-start;
    color: #000000BB;
}


form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    width: 96%;
    flex-wrap: wrap;
    height: fit-content;
    margin-left: 2vw;
    position: relative;
}

label{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
    display: block;
    color: #000000EE;
    margin: 0 0 1vh 0;
}

#forgot, #forgot:link, #forgot:visited {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: medium;
    color: #000000BB;
    opacity: 0.35;
    margin-bottom: 5vh;
    transition: 500ms;
    outline: none;
}

p{
    font-size: smaller;
}

input[type=text],  input[type=textarea], input[type=password], select{
    /* background: #eeeeeeb4; */
    mix-blend-mode: normal;
    /* box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3); */
    padding-left: 5px;
    border-radius: 5px;
    /* border: 1px solid #FFFFFF00; */
    margin: 0.5vh 0 2.5vh 0vw;
    width: 80%;
    height: 6.5vh;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    outline: none;
    transition: ease-in-out 500ms;
}

option{
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 4ch;
}

.buttons{
    width: 10vw;
    flex-direction: row;
    display: flex;
    row-gap: 10vh;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items:stretch;
}

textarea {
    /* background: #eeeeeeb4; */
    mix-blend-mode: normal;
    /* box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3); */
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #FFFFFF00;
    margin: 0.5vh 0 5vh 0vw;
    width: 80%;
    height: 20vh;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    outline: none;
    transition: ease-in-out 500ms;
    resize: none;
}

#dashboard {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12vw;
    height: 60vh;
    padding: 0 0 20vh 0;
    margin: 10vh 2.5vw;
}

.link-button{
    font-family: 'Lato', sans-serif;
    text-decoration: underline #EE3123;
    text-decoration-thickness: 0.5px;
    transition: 250ms ease-in-out;
}

.info{
    display: flex;
    flex-direction: row;
}

.right-column, .left-column{
    font-size: medium;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    width: 48vw;
    max-height: 80vh;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vh;
}

.right-column{
    margin-right: 2vw;
    padding-left: 2vw;
}

.left-column{
    margin-left: 2vw;
    padding-right: 2vw;
}

.asteriskField{
    text-decoration: none;
    color: #EE3123;
}

.action-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin: 0 2vw 0 2vw;
}

.action-header>h3{
    font-size: x-large;
}

.link-button:hover{
    text-decoration-thickness: 3px;
}

#manager-view{
    box-sizing: border-box;
    float: right;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 30vh 60vh;
    justify-content: space-evenly;
    gap: 0vw 0;
    width: 80vw;
    margin-bottom: 5vw;
}

#staff-view{
    box-sizing: border-box;
    float: right;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40vh 40vh;
    justify-content: space-evenly;
    gap: 0vw 5vh;
    width: 100vw;
}

.mytasks{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif; 
}

.approval, .notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding: 0 2vw;
}

.myprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif; 
    margin-top: 5vh;
}

.center{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

h3, h2{
    font-family: 'Raleway', sans-serif !important;
    font-size: large;
    margin: initial 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full-center{
    position: absolute;
    margin-bottom: 25%;
    margin-left: 50%;
    transform: translate(-50%, 50%);
}

h4, h6{
    font-size: small;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

h6{
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1vh 0;
    transition: .35s ease-in-out;
    margin: 10px 0;
}

.red{
    color: #EE3123;
}

.orange{
    color: #fa7f2d;
}

.yellow{
    color: #fadf2d;
}

.task{
    text-align: center;
    width: 280px;
    height: 160px;
    /* overflow-y: hidden; */
    font-family: 'Lato', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2.5vh;
}

.scroll-box-para p{
    line-height: 3vh;
    height: 5vh;
    max-width: 100%;
    margin: 0 10px;
    overflow: hidden;
    /* display:inline-block; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hover3d:hover .task{
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.hover3d:hover h6{
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.project_div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 280px;
    height: 160px;
    font-family: 'Lato', sans-serif;
    padding: 1vw;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    margin-bottom: 2.5vh;
}

.hover3d-p:hover .project_div{
    border: 2px solid rgba(255, 0, 0, 0.5);
}


/* div#manager-view>div:hover{
    background-color: #F9F9F9;
} */

div#manager-view>div{
    background-color: #ffffff00;
    border-radius: 10px;
    border:  2px solid #00000055;
    transition: 250ms ease-in-out;
}

div#manager-view>div:hover{
    border:  2px solid #000000AA;
}

div#staff-view>div{
    background-color: #ffffff00;
    border-radius: 10px;
    border:  2px solid #00000055;
    transition: 250ms ease-in-out;
}

div#staff-view>div:hover{
    border:  2px solid #000000AA;
}

.hover-in{
	transition: .1s ease-out;
}

.hover-out{
	transition: .4s ease-in;
}

.hover3d, .hover3d-p{
    cursor: pointer;
    transition: .3 ease-in-out;
    border-radius: 5px;
}


@keyframes breathing-color--dark {
    from
    {
        background-color: black;
    }
    to
    {
        background-color: hsl(0, 0%, 10%);
    }
}

.notifications{
    grid-column: 2;
    grid-row: 1/5;
}

.scroll-box{
    height: 75%;
    overflow-y: scroll;
    overflow-x: visible;
    margin-bottom: 5vh;
    min-width: 30vw; 
    text-align: start;
}

.margin-bottom{
    margin-bottom: 5vh;
}

.approval{
    margin: 0;
    grid-column: 1;
    grid-row: 1;
}

.myprojects{
    grid-column: 1;
    grid-row: 2/5;
    padding: 0 2vw;
}

.tasks{
    display: flex;
    flex-wrap: wrap;
    margin: 10vh 50%;
    justify-content: space-around;
    transform: translate(-50%, 0);
    width: 82vw;
    gap: 0.5vw;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10vh 50%;
    transform: translate(-50%, 0);
    width: 82vw;
    gap: 0.5vw;
}

.notification{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type=text]:focus,  input[type=textarea]:focus, input[type=password]:focus, textarea:focus, select:focus {
    box-shadow: 0px 0px 0px 5px #EE312388 !important;
    border: 1px solid #EE3123 !important;
    /* background: #F9F9F9 !important; */
}

input[type=text]:hover,  input[type=textarea]:hover, input[type=password]:hover, textarea:hover, select:hover {
    /* box-shadow: 0px 4px 0px #ee473bb4; */
    border: 1px solid #ee473bb4;
    /* background: #F5F5F5DD;   */
}


#forgot:focus, #forgot:hover{
    opacity: 0.8;
}

#forgot:active{
    transition: 0s !important;
    color: #EE3123 !important;
}

input[type=submit]{
    background-color: #F9F9F900;
    border: 1px solid #000000BB;
    outline: none;
    align-self: center;
    border-radius: 2em;
    color:#000000BB;
    width: fit-content;
    height: fit-content;
    padding: 1vh 2vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: large;
    bottom: -10vh;
    cursor: pointer;
    transition: ease-in-out 500ms;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[value='Delete']{
    bottom: 300px;
}

input[type=submit]:hover {
    background-color: #EE3123;
    border: 1px solid #EE3123;
    color:rgba(255, 255, 255, 1);
}

img {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
    mix-blend-mode: hard-light;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(loading.gif) center no-repeat #fff;
}

.time {
    color: #00000077;
    font-size: small;
}

.text-content{
    float: left;
    width: 80%;
}

.dismiss-button{
    float: right;
    margin-right: 10px;
}

i{
    color: #EE3123;
}

#highlight{
    text-decoration: underline #EE3123 0.15em;
}


.key-image {
    display: none;
}

.errorlist li{
    color: red;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    list-style: none;
}

.errorlist {
    padding: 0.5em;
    border: 1px solid red;
    border-radius: 1em;
}

@media (hover : none) {
    input[type=submit]{
        background-color: #EE3123;
        border: 1px solid #EE3123;
        color:rgba(255, 255, 255, 1);
    }
}

@media only screen and (max-width: 640px) {

    .card-div {
        width: 100vw;
        margin: 0;
        height: 100vh;
        border-radius: 0;
        padding: 0;
    }

    input[type=submit] {
        padding: 1.5vh 5vw;
    }
    
    label{
        margin: 0 0 2vh 4vw;
    }
    
    input[type=text], input[type=password], textarea, select{
        margin: 0 0 0 4vw;
    }
    
    h1{
        margin: 4vw;
    }

    form{
        flex-wrap: nowrap;
    }
}
