<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Heirs Workflow Cloud</title>
    <script src="https://kit.fontawesome.com/f3a98ab8b5.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'date-picker/jquery-ui.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            document.title = companyName;
            document.getElementById("brand").innerHTML = companyName;
            document.getElementById("main-nav").classList.add(navbarTheme);
        };
    </script>
</head>

<body>
    <div class="se-pre-con"></div>
    <nav id="main-nav" class="navbar navbar-expand-lg bg-primary">
        <a id="brand" class="navbar-brand" href="/user/home">
            Heirs Workflow Cloud
        </a>
        <p class="font-weight-light my-auto navbar-text">Welcome {{ request.user.first_name }}</p>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="main-navbar" class="nav-links collapse navbar-collapse">
            <ul class="ml-auto navbar-nav my-auto">
                <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="/tasks">My Tasks</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/password_change/">Edit Account</a></li>
                <li class="nav-item"><a class="nav-link" href="/myprojects">My Projects</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    {% load static %}
    <script src=" {% static 'hover3d/hover3d-master/dist/js/jquery.hover3d.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script>
        $(".hover3d").hover3d({
            selector: ".task",
            sensitivity: 10,
        });
        $(".hover3d-p").hover3d({
            selector: ".project_div",
            sensitivity: 10,
        });
    </script>


</body>

</html>