{% extends 'tasks/base.html' %}
{% block content %}
{% if task %}
<div class='action-header'>
    <div class='task_progress'>
        <h3>{{ task.name }} - {{ task.due_in }}</h3>
        {% if task.approved %}
        <h3 class='state'>Completed</h3>
        {% elif task.state %}
        <h3 class='state'>{{ task.state }}</h3>
        {% for status in statoos %}
        <h4>{{ status }}</h4>
        {% endfor %}
        {% else %}
        {% endif %}
    </div>
    <div class='buttons'>
        {% if is_reviewer and task.state == 'Ready for Approval' %}
        <a class='link-button' href="approve">Review</a>
        {% else %}
        {% endif %}
        {% if mytask %}
        <a class='link-button' href="status">Update Status</a>
        {% else %}
        {% endif %}
    </div>
</div>
<div class='info'>
    <div class='left-column'>
        <p>Due on: {{ task.due_date }}</p>
        <p>Importance: {{ task.importance }}</p>
        <p>Description: {{ task.description }}</p>
        <p>Assigned on: {{ task.assigned_date }}</p>
    </div>
    <div class='right-column'>
        <p>Feedback: {{ task.feedback }}</p>
        <p>Assigned To: {{ assignees }}</p>
        {% if reference_names %}
        <h4>References</h4>
        <ul>
            {% for file in reference_names %}
            <li><a class='link-button' href="/download/{{ file.id }}">Download "{{ file.name }}"</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No references attached</p>
        {% endif %}
        {% if submit_names %}
        <h4>Submissions</h4>
        <ul>
            {% for file in submit_names %}
            <li><a class='link-button' href="/download/{{ file.id }}">Download "{{ file.name }}"</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No submissions attached</p>
        {% endif %}
    </div>
</div>
{% else %}
<p>This task does not exist</p>
{% endif %}
{% endblock %}