{% extends 'tasks/base.html' %}
{% block content %}
{% if project_files %}
<h1>{{ project_name }} Files</h1>
<a href="/upload">Upload a File</a>
<h2>Critical Files</h2>
<ul>
    {% for file in critical_files %}
    <li><a href="/projects/{{ project }}/filespace/{{ file.name }}">Download {{ file }}</a></li>
    {% endfor %}
</ul>
<h2>Submissions</h2>
<ul>
    {% for file in submissions %}
    <li><a href="/projects/{{ project }}/filespace/{{ file.name }}">Download {{ file }}</a></li>
    {% endfor %}
</ul>
<h2>References</h2>
<ul>
    {% for file in references %}
    <li><a href="/projects/{{ project }}/filespace/{{ file.name }}">Download {{ file }}</a></li>
    {% endfor %}
</ul>
{% else %}
<a href="/upload">Upload a File</a>
{% endif %}
{% endblock %}