{% extends base %}

{% block content %}
{% if account_type == 'Staff' or 'Manager' or 'Admin' %}



{% if account_type == 'Admin' %}

<div id='manager-view'>
    <div class='approval'>
        <h3>Pre-approval Requests</h3>
        <p> {{ pre_ready_tasks }} ready for pre-approval. </p>
        <a class='link-button' href="/see-pre-approve-requests/">Pre-approve Now</a>
    </div class='approval'>
    <div class="myprojects">
        <a href="/myprojects">
            <h3>My Projects</h3>
        </a>
        <div class="scroll-box">
            {% for project in my_projects %}
            <div class='project'>
                <h4>
                    <a href="/projects/{{ project.id }}/">{{ project.name }}</a>
                </h4>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='notifications'>
        <h3>Notifications - ({{ notification_count }})</h3>
        <div class='scroll-box'>
            {% for notification in my_notifications %}
            <div class="notification">
                <a href='{{ notification.link_url }}'>
                    <div class="text-content">
                        <h4>
                            {{ notification.title }}
                        </h4>
                        <p>
                            {{ notification.description }}
                        </p>
                        <p class="time">
                            {{ notification.time_ago }}
                        </p>
                    </div>
                </a>
                <div class="dismiss-button">
                    <a href="/dismiss/{{ notification.id }}"><i class="fas fa-times-circle"></i></a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% if my_notifications %}
        <a class='margin-bottom link-button' href='/dismiss-all'>Clear All</a>
        {% else %}
        {% endif %}
    </div>
</div>
{% elif account_type == 'Manager' %}
<div id='manager-view'>
    <div class='approval'>
        <h3>Approval Requests</h3>
        <p> {{ ready_tasks }} ready for approval. </p>
        <a class='link-button' href="/see-approve-requests/">Approve Now</a>
    </div class='approval'>
    <div class="myprojects">
        <a href="/myprojects">
            <h3>My Projects</h3>
        </a>
        <div class='scroll-box'>
            {% for project in my_projects %}
            <div class='project'>
                <h4>
                    <a href="/projects/{{ project.id }}/">{{ project.name }}</a>
                </h4>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='notifications'>
        <h3>Notifications - ({{ notification_count }})</h3>
        <div class='scroll-box'>
            {% for notification in my_notifications %}
            <div class="notification">
                <a href='{{ notification.link_url }}'>
                    <div class="text-content">
                        <h4>
                            {{ notification.title }}
                        </h4>
                        <p>
                            {{ notification.description }}
                        </p>
                        <p class="time">
                            {{ notification.time_ago }}
                        </p>
                    </div>
                </a>
                <div class="dismiss-button">
                    <a href="/dismiss/{{ notification.id }}"><i class="fas fa-times-circle"></i></a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% if my_notifications %}
        <a class='link-button' href='/dismiss-all'>Clear All</a>
        {% else %}
        {% endif %}
    </div>
</div>
{% else %}
<div id='staff-view'>
    <div class='notifications'>
        <h3>Notifications - ({{ notification_count }})</h3>
        <div class="scroll-box">
            {% for notification in my_notifications %}
            <div class="notification">
                <a href='{{ notification.link_url }}'>
                    <div class="text-content">
                        <h4>
                            {{ notification.title }}
                        </h4>
                        <p>
                            {{ notification.description }}
                        </p>
                        <p class="time">
                            {{ notification.time_ago }}
                        </p>
                    </div>
                </a>
                <div class="dismiss-button">
                    <a href="/dismiss/{{ notification.id }}"><i class="fas fa-times-circle"></i></a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% if my_notifications %}
        <a class='link-button' href='/dismiss-all'>Clear All</a>
        {% else %}
        {% endif %}
    </div>
    <div class="mytasks">
        <a href="/tasks">
            <h3>My Tasks</h3>
        </a>
        <div class='scroll-box'>
            {% for task in my_tasks %}
            <div class='task_div'>
                <h4>
                    <a href="/tasks/{{ task.id }}/">{{ task.name }}</a>
                </h4>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="myprojects">
        <a href="/myprojects">
            <h3>My Projects</h3>
        </a>
        <div class='scroll-box'>
            {% for project in my_projects %}
            <div class='project'>
                <h4>
                    <a href="/projects/{{ project.id }}/">{{ project.name }}</a>
                </h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% else %}
<p>Please log in<a href="/">here.</a></p>
{% endif %}
{% endblock %}