{% extends 'tasks/base.html' %}

{% block content %}

{% if all_tasks %}

<div class='tasks'>
        {% for task in all_tasks %}
        <div class='hover3d' onclick="location.href='/tasks/{{ task.id }}'">
                <div class='task' onclick="location.href='/tasks/{{ task.id }}'">
                        {% if can_edit %}
                        <h2><a href="{{ task.id }}/">{{ task.name }} ({{ task.project }})</a> - <a
                                        href="{{ task.id }}/edit">Edit</a>
                        </h2>
                        {% else %}
                        <h2><a href="{{ task.id }}/">{{ task.name }} ({{ task.project }})</a></h2>
                        {% endif %}
                        <h4>Due in {{ task.due_in }}</h4>
                        {% if task.importance == 'High' %}
                        <h6> <i class="red fas fa-exclamation-circle"></i> {{ task.importance }}</h6>
                        {% elif task.importance == 'Medium' %}
                        <h6> <i class="orange fas fa-exclamation-triangle"></i> {{ task.importance }}</h6>
                        {% else %}
                        <h6> <i class="yellow fas fa-exclamation-circle"></i> {{ task.importance }}</h6>
                        {% endif %}
                        <div class='scroll-box-para'>
                                <p>Description: {{ task.description }}</p>
                        </div>
                </div>
        </div>
        {% endfor %}
</div>

{% else %}
<p>No active tasks.</p>
{% endif %}


{% endblock %}