$enable-responsive-font-sizes: true;

$link-color: #007bff;

@import "variables.scss";

@import "../../../node_modules/bootstrap/scss/bootstrap";

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: 0;
    }
    #sidebar.active {
        margin-left: -200px;
    }
    #sidebar {
        min-width: 200px;
        max-width: 200px;
        min-height: 100vh;
    }
}

#content{
    width: 100%
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */

    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#sidebarCollapse{
    width: 40px;
    height: 40px;
}

@include media-breakpoint-down(sm) {
    html{
        font-size: 0.8rem;
    }
    #sidebarCollapse{
        width: 35px;
        height: 35px;
    }
}

@include media-breakpoint-down(xs) {
    p.navbar-text{
        display: none;
    }

    .sidebar-on, .navbar-brand.sidebar-on{
        display: none;
    }
}